<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress ALL -->
<mapper namespace="lyw.mapper.CategoryMapper">
    <select id="list" resultType="Category">
        select * from   category         order by id desc
        <if test="start!=null and count!=null">
            limit #{start},#{count}
        </if>
    </select>
    <select id="total" resultType="java.lang.Integer">
        select count(*) from category
    </select>
    <insert id="addCategory" parameterType="Category" keyProperty="id" useGeneratedKeys="true"> <!-- 使主键自增 -->
        insert into category( name ) value (#{name})
    </insert>
    <delete id="deleteCategory" parameterType="java.lang.Integer">
        delete from category where id=#{id}
    </delete>
    <select id="selectCategoryById" parameterType="java.lang.Integer" resultType="Category">
        select * from category where id=#{id}
    </select>
    <update id="updateCategory" parameterType="Category">
        update category set name=#{name} where id=#{id}
    </update>
</mapper>